body {
    margin: 50px auto;
    width: 980px;
    background: url("/website-background.png") top center repeat-y;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-left: 0px;
}
#home-link {
    margin-left: 5px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 2px solid black;
    font-size: .8em;
    width: 980px;
    clear: both;
    text-align: center;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
    /*border: 5px solid black;*/
}

#sidebar-right {
    float: left;
    width: 58.5px;
    margin-left: 10px;
}

#sidebar-left {
    float: left;
    width: 58.5px;
    /*margin-left: 10px;*/
    border-right: 2px solid black;
}

#content {
    width: 681px;
    float: left;
    border-right: 2px solid black;
    /*margin-left: 5px;
    margin-right: 10px;*/
}

#content p {
    margin-left: 5px;
    margin-right: 10px;
}

#sidebar-right p {
    font-size: 1em;
}

#page-shell {
    
}

#logo {
    margin: 3px 231.5px;
    float: none;
}
